.blog-post {
    width: 70%;
    margin: 0 auto;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 30px auto;

}


.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.button-container {
    text-align: right;
}

.btn-info {
    margin: 0 4px;
}

/* Light Mode Styles */
.light {
    background-color: #ffffff;
    color: #000000;
}

/* Dark Mode Styles */
.dark {
    background-color: #333333;
    color: #ffffff;
}

.dark .card-body {
    color: #eee;
}

.card {
    background-color: inherit;
    /* Inherit background color from body */
}

.button-container .btn {
    color: inherit;
    /* Adjust button text color based on theme */
}

.image-container img {
    border-radius: 57px;
    margin-top: 16px;
}