.blog-post {
    width: 70%;
    margin: 0 auto;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 30px auto;

}


.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.button-container {
    text-align: right;
}

.button-container .btn {
    margin: 5px;
}

.btn-info {
    margin: 0 4px;
}


.light {
    background-color: #ffffff;
    color: #000000;
}


.dark {
    background-color: #333333;
    color: #ffffff;
}

.dark .card-body {
    color: #eee;
}

.card {
    background-color: inherit;
}

.button-container .btn {
    color: inherit;
}

.image-container img {
    border-radius: 57px;
    padding: 10px 5px;
    width: 100%;
}

@media (max-width: 1000px) {
    .blog-post {
        width: 95%;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> f4985c1e4d7401e19da1aaa381a5ff3fc2fb3300
